@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
}
body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
.main-div {
  background: #8e44ad;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-div h2 {
  font-size: 4rem;
  text-transform: uppercase;
  color: #fff;
}
.main-div p {
  font-size: 1.5rem;
}
.upper-div {
  background: #8e44ad;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
.upperDiv {
  background: #2ecc71;
}
.mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #2ecc71;
}
.mainDiv h1 {
  text-transform: uppercase;
  font-size: 5rem;
  color: white;
  margin-top: -50px;
}
.mainDiv p {
  font-size: 1.6rem;
}
